[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-sshazam
Exec=harbour-sshazam
Name=SShazam
Categories=AudioVideo;Audio

[X-Sailjail]
OrganizationName=io.github.roundedrectangle
ApplicationName=harbour-sshazam
Permissions=Audio;Internet;Compatibility

[X-HarbourBackup]
BackupPathList=.local/share/io.github.roundedrectangle/harbour-sshazam
BackupConfigList=/apps/harbour-sshazam/